/* General Style */

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  gap: 3rem;
}

/* Gameboard style */

.board {
  width: 275px;
  height: 275px;
  display: flex;
  flex-wrap: wrap;

  background-color: rgba(224, 255, 255, 0.412);
}

.computer-board {
}

.board-cell-first {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-cell-letter,
.board-cell-number {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}

.battle-cell {
  width: 25px;
  height: 25px;
  display: flex;
  border-top: 1px solid black;
  border-left: 1px solid black;
  justify-content: center;
  align-items: center;
}

.battle-cell[data-row="J"] {
  border-bottom: 1px solid black;
}

.battle-cell[data-col="9"] {
  border-right: 1px solid black;
}

.computer-board > *,
.computer-board > .battle-cell[data-row="J"],
.computer-board > .battle-cell[data-col="9"] {
  border-color: grey;
  color: red;
}

.active-battle-cell:hover {
  background-color: red;
}
